/* styles.css */
:root {
    --background-color: #ffffff;
    --text-color: #000000;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

body[data-theme="dark"] {
    --background-color: #000000;
    --text-color: #ffffff;
}

header, div {
    padding: 10px;
    transition: background-color 0.3s;
}

header[data-theme="dark"], div[data-theme="dark"] {
    background-color: #333333;
}
