{% extends "layout.html" %}


{% block main %}
    <div>
        <section class="f-size-l f-family-sans margin-m text-center color-header border-bottom-blue">Products</section>
        <div>
            <form id="addProductsForm" action="">
                <div class="mb-3">                      
                    <input class="form-control mx-auto w-auto" type="text" name="product" id="product" placeholder="Product Name">
                    <input class="form-control mx-auto w-auto mt-m" type="number" name="price" id="price" placeholder="Price" step="0.01" min="0">
                    <div class="d-flex align-center justify-center">
                        <button class="btn btn-primary mt-m" type="submit">Add product</button>
                    </div>
                </div>
            </form>

            <ul class="list-group list-group-flush" id="products-list">
                <section class="font-size-m padding-sm">Products List:</section>
                {% for product in products %}
                    <li class="list-group-item" id="product-{{ product.id}}">
                         {{product.p_name}} - {{product.price}}$
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>




    
    <script src="/static/addProducts.js"></script>
{% endblock %}